{% load staticfiles %}
{# {% load socketio_tags %} #}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static "initializr/apple-touch-icon.png" %}">

        <link rel="stylesheet" href="{% static "initializr/css/bootstrap.min.css" %}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{% static "initializr/css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "initializr/css/main.css" %}">

        <script src="{% static "initializr/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %}"></script>
        {# {% socketio %} #}
        {%block extrahead %}{% endblock %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mixerino</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        {% if user.is_authenticated %}
           <form class="navbar-form navbar-right" role="form" action="{% url 'logout' %}" /><button type="submit" class="btn btn-danger">LOGOUT</button></form>
        {% else %}
          <form class="navbar-form navbar-right" role="form" method="post" action="{% url 'login' %}">{% csrf_token %}
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Accedi</button>
          </form>
        {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    {%block content %}{% endblock %}

      <hr>

      <footer>
        <p>&copy; Company 2015</p>
      </footer>
    </div> <!-- /container -->        
    <script src="{% static "initializr/js/vendor/jquery-1.11.2.min.js" %}"></script>

    <script src="{% static "initializr/js/vendor/bootstrap.min.js" %}"></script>

    <script src="{% static "initializr/js/main.js" %}"></script>
    {%block postjquery %}{% endblock %}
    </body>
</html>
