{% extends "frontend/__base.html" %}

{%block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Mixerino</h1>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <h2>Sedute</h2>
      <ul>
      {% for seduta in sedute %}
        <li>{% if user.is_authenticated %}<a href="{% url 'seduta' seduta.pk %}">{{seduta.label}}</a>{% else %}{{seduta.label}}{% endif %}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
