{% extends "frontend/__base.html" %}
{% load staticfiles %}


{%block postjquery %}
<script type="text/javascript" src="{% static "js/ws4redis.js" %}"></script>
<script>
$(function() {
  // attach this function to an event handler on your site
  function sendMessage() {
      // ws4redis.send_message('A message');
  }

  function on_connected() {
      // ws4redis.send_message('Hello');
      console.log("websocket connected");
  }

  // receive a message though the websocket from the server
  function receiveMessage(msg) {
    if (msg=='+') {
      updatePrenotazioni();
    } else {
      alert('Uknown message from Websocket: ' + msg);
    }
  }

  var ws4redis = WS4Redis({
    uri: '{{ WEBSOCKET_URI }}web?subscribe-broadcast&publish-broadcast',
    receive_message: receiveMessage,
    connected: on_connected,
    heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
  });
});


var updatePunti = function() {
    $('#punti1').load(location + ' #punti2', function(e){
        console.log('punti: updated!');
    });
};

var updatePostazioni = function() {
    $('#postazioni1').load(location + ' #postazioni2', function(e){
        console.log('postazioni: updated!');
    });
};

var updatePrenotazioni = function() {
    $('#prenotazioni1').load(location + ' #prenotazioni2', function(e){
        console.log('prenotazioni: updated!');
    });
};

var sedutaTermina = function(sd_id) {
    $.getJSON('/api/sedute/'+sd_id+'/termina/', function(data){
        updatePunti();
    });
};

var puntoTratta = function(pt_id) {
    $.getJSON('/api/punti/'+pt_id+'/tratta/', function(data){
        updatePunti();
    });
};

var postazioneVolume = function(po_id, volume) {
    $.getJSON('/api/postazioni/'+po_id+'/level/', { level:volume }, function(data){
        updatePostazioni();
    });
};

var postazioneIntervento = function(se_id, po_id) {
    $.getJSON('/api/postazioni/'+po_id+'/intervento/', { seduta:se_id }, function(data){
        updatePostazioni();
    });
};

var prenotazioneFulfill = function(se_id, pr_id) {
    $.getJSON('/api/prenotazioni/'+pr_id+'/fulfill/', function(data){
        console.log('prenotazione: fulfilled!');
        updatePrenotazioni();
        updatePostazioni();
    });
};
</script>
{% endblock %}


{%block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>{{object}}</h1>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-3" id="punti1">
      <ul class="list-unstyled" id="punti2">
        {% for p in object.punti.all %}
          <li>{% if not object.finished %}{% if not p.in_corso %}
            <button class="btn btn-primary btn-xs" onClick="puntoTratta({{p.pk}})">
          {% else %}
            <button class="btn btn-default btn-xs" disabled="disabled">
          {% endif %}TRATTA</button>{% endif %} {{p.punto}}. {{p.titolo}}</li>
        {% endfor %}
        {% if object.started and not object.finished %}
          <li><button class="btn btn-primary btn-xs" onClick="sedutaTermina({{object.pk}})">TERMINA</button></li>
        {% endif %}
      </ul>
    </div>
    {% if object.finished %}
    <div class="col-md-9">
      <ul class="list-unstyled">{% for i in object.interventi.all %}
        <li>{{i.started|time:"H:i"}}-{{i.finished|time:"H:i"}} {{i.postazione}}</li>
      {% empty %}
        <li><em>nessun intervento</em></li>
      {% endfor %}</ul>
    </div>
    {% else %}
    <div class="col-md-6" id="postazioni1">
        <div id="postazioni2">
        {% for p in postazioni %}
            <div class="btn-group">
              <button class="btn btn-{{p.btn_class}}" onClick="postazioneIntervento({{object.pk}},{{p.pk}})">{% if levels %}[{{p.level}}%]{% endif %} {{p.label}}</button>
              {% if levels %}
              <button type="button" class="btn btn-{{p.btn_class}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">regola il volume</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="javascript:postazioneVolume({{p.pk}},100)">100%</a></li>
                <li><a href="javascript:postazioneVolume({{p.pk}},75)">75%</a></li>
                <li><a href="javascript:postazioneVolume({{p.pk}},50)">50%</a></li>
                <li><a href="javascript:postazioneVolume({{p.pk}},25)">25%</a></li>
                <li><a href="javascript:postazioneVolume({{p.pk}},0)">-muto-</a></li>
              </ul>
              {% endif %}
            </div>
        {% endfor %}
        </div> 
   </div>
    <div class="col-md-3" id="prenotazioni1">
        <div id="prenotazioni2">
        {% for p in object.prenotazioni_da_evadere %}
            <button class="btn btn-sm btn-warning btn-block" onClick="prenotazioneFulfill({{object.pk}},{{p.pk}})">{{p.requested|time:"H:i"}}: {{p.postazione.label}}</button>
        {% empty %}
            <p><em>nessuna prenotazione</em></p>
        {% endfor %}
        </div>
    </div>
   {% endif %}
  </div>
{% endblock %}
